body {
background-color: #5268C1;

}


.navbar {
background-color: cornflowerblue;
padding: 5px 15px;
}

.navbar a {
color: white;
text-decoration: none;
padding: 0px 10px ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "israel flieger fieger man scheich"
    "israel f1 tisch tisch seich" ;
}

.text a {
text-decoration-line: none;
text-decoration-style: none;
color:white;
font-size: 20px;

}

.text {
text-indent: 3cm;


}

.israel {
    grid-area: israel;
}

.flieger {
    grid-area: flieger;
}

.man {
    grid-area: man;
}

.scheich {
    grid-area: scheich;
}

.f1 {
    grid-area: f1;
}

.tisch {
    grid-area: tisch;
}
