body {
background-color: #5268C1;

}


.navbar {
background-color: cornflowerblue;
padding: 5px 15px;
}

.navbar a {
color: white;
text-decoration: none;
padding: 0px 10px ;
}

.text a {
text-decoration-line: none;
text-decoration-style: none;
color:white;
font-size: 20px;

}

.text {
text-indent: 3cm;

}
.buttonback {
    background-color: #5268C1;
    padding: 0px 0px;
    border-color: #5268C1;
    text-decoration: none;
    font-size: 50px;
        
}

.kastenbody {
background-color: white;
}

.kasten {
padding: 5px 10px;
font-size: 20px;
position: relative;
left: 5cm;

}

.bildergrid {
    display: grid;
    margin-left:100px;
    margin-right:95%;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-areas:
        "israel flieger fieger man scheich"
        "israel kfz tisch tisch seich";
}

.israel {
    grid-area: israel;
    width: 100%;
    height: auto;
}

.flieger {
    grid-area: flieger;
    width: 100%;
    height: auto;
}

.man {
    grid-area: man;
    width: 100%;
    height: auto;
}

.scheich {
    grid-area: scheich;
    width: 100%;
    height: auto;
}

.kfz {
    grid-area: kfz;
    width: 100%;
    height: auto;
}

.tisch {
    grid-area: tisch;
    width: 100%;
    height: auto;
}
