body {
  background: linear-gradient(to right, red, orange, green);
}

h1 {
  font-family: fantasy;
}

.generator {
  border-style: solid;
  background-color: rgb(206, 165, 165);
}

button:hover {
  border-color: whitesmoke;
}
